body{font-family: 'Courier New', Courier, monospace;
        background-image: url(Everyonecancode.jpg);
        background-size: cover;
        font-size: large;
        color: #B5B5B5;
}
.gen{
        display: inline-block;
}




